name: Run Quant Scholar

on:
  workflow_call:
    inputs:
      config-path:
        required: true
        type: string

  workflow_dispatch:
  schedule:
    - cron: "0 0 */1 * *"


env:
  GITHUB_USER_NAME: WinstonLiyte
  GITHUB_USER_EMAIL: 1957922024@qq.com
  
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python Env
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install arxiv requests pyyaml

      - name: Run quant_scholar.py
        run: |
          python quant_scholar.py
          cp README.md wiki/index.md

      - name: Set up SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.DEPLOY_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan github.com >> ~/.ssh/known_hosts

      - name: Commit and Push
        run: |
          git config --global user.name "${{ env.GITHUB_USER_NAME }}"
          git config --global user.email "${{ env.GITHUB_USER_EMAIL }}"
          git add README.md docs/quant-scholar.json wiki/index.md
          git commit -m "[Workflow] Automatic Update Quant Scholar Paper List" || echo "No changes to commit"
          git push origin HEAD:master
